@import url(easy-autocomplete.css);
/* @import url(easy-autocomplete.themes.css); */
@import url(main.css);

/* custom style */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: #000000;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.col-1 {
  width: calc(8.33333%*1);
}

.col-2 {
  width: calc(8.33333%*2);
}

.col-3 {
  width: calc(8.33333%*3);
}

.col-4 {
  width: calc(8.33333%*4);
}

.col-5 {
  width: calc(8.33333%*5);
}

.col-6 {
  width: calc(8.33333%*6);
}

.col-7 {
  width: calc(8.33333%*7);
}

.col-8 {
  width: calc(8.33333%*8);
}

.col-9 {
  width: calc(8.33333%*9);
}

.col-10 {
  width: calc(8.33333%*10);
}

.col-11 {
  width: calc(8.33333%*11);
}

.col-12 {
  width: calc(8.33333%*12);
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row [class*="col-"] {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 15px;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    box-sizing: border-box;
    border: solid 1px rgb(195, 206, 218);
    height: 38px;
    width: 100%;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: rgba(73, 84, 97, 0.502);
    background-color: #ffffff;
    box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.17);
}

textarea{
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    color: #B7B7B7;
}

select {
    -webkit-appearance: none;
    -moz--appearance: none;
    background: url('../img/select-arrow.png') center right no-repeat;
}

p.error {
  color: red;
  margin: 0;
  font-size: 13px;
  display: none;
}

.star {
    color: red;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    line-height: 26px;
}

.gray-bg {
    background-color: #e3e9ef;
}
 
.checkbox-style input[type='checkbox']{
  display: none;
}

.checkbox-style input[type='checkbox'] + label span {
  border: 3px solid rgb(0, 148, 203);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox-style input[type='checkbox']:checked +  label span {
  background: #ffffff url('../img/check.png') center center no-repeat;
}

.radio-style input[type='radio']{
  display: none;
}

.radio-style input[type='radio'] + label{
  color: rgb(73, 84, 97);
}

.radio-style input[type='radio'] + label span {
  border: 3px solid rgb(0, 148, 203);
  border-radius: 50%;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.17);
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
}

.radio-style input[type='radio']:checked +  label span:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 148, 203);
  border-radius: 50%;
  top: 7px;
  left: 7px;
}

.radio-style input[type='radio']:checked +  label {
  color: rgb(0, 148, 203);
}

#agreeToAttendProgram label {
  margin-right: 5%;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

#thirdStepRegistrationBtn {
  margin-top: 22px;
}

@media only screen and (min-width: 700px){
  #agreeToAttendProgram label {
    margin-right: 10%;
  }
}

.logo {
    height: 60px;
    padding: 0 30px;
    background-color: #ffffff;
}

.logo img {
    margin-top: 19px;
}

.progress-bar-style {
    padding: 0 15px;
    height: 80px;
    background-color: #c3ceda;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    position: relative;
}

.progress-bar  {
    margin: 0;
    padding: 0 20px 0 0;
    height: 20px;
    background-color: #e3e9ef;
    border-radius: 20px;
    list-style-type: none;
    position: relative;
}

.progress-bar li {
    position: relative;
    width: 33%;
}

.progress-bar li:before {
    content: '';
    height: 8px;
    background-color: rgba(255,255,255,.6);
    width: 100%;
    position: absolute;
    top:2px;
    left: 0;
    display: inline-block;
    z-index: 2;
}

.progress-bar .circle {
    width: 40px;    
    height: 40px;
    display: block;
    position: absolute;
    top: -10px;
    right: -24px;
    z-index: 3;
    background-color: #e3e9ef;
    border-radius: 40px;
}

.progress-bar .circle:before {
    content: "";
    width: 31px;
    height: 24px;
    background-color: rgba(255,255,255,.6);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
}

.progress-bar .progress {
    height: 20px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.progress-bar .progress-completed .progress {
    background-color: #01a4e7;
}

.progress-bar .progress-completed .circle {
    background-color: #01a4e7;
}

.progress-bar .progress-started .progress{
    background-image: -moz-linear-gradient( 0deg, rgb(1,164,231) 28%, rgb(24,253,164) 99%);
    background-image: -webkit-linear-gradient( 0deg, rgb(1,164,231) 28%, rgb(24,253,164) 99%);
    background-image: -ms-linear-gradient( 0deg, rgb(1,164,231) 28%, rgb(24,253,164) 99%);
}

.progress-bar .progress-started .progress:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -20px;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent rgb(24,253,164);

}

.progress-bar .circle.start {
    left: -4px;
}

.progress-started .circle.start {
    left: -4px;
    background-color: #01a4e7;
}

.progress-bar .update {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 530px;
    width: 100%;
    height: 40px;
    display: inline-block;
    
}

.star-rating .star {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.star-rating .star polygon {
  fill: #ddd;
}

.progress-bar-style .step-up {
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #c3ceda;
    background-color: #ffffff;
    right: 30px;
    top: -45px;
}

.progress-bar-style .step-up:before {
    content: "";
    position: absolute;
    background: url('../img/step-up.png') center center no-repeat;
    width: 104px;
    height: 134px;
    display: inline-block;
    top: 0;
    right: 0;
}

.star-progress {
    height: 60px;
    padding: 0 30px;
    background-color: #ebf1f6;
}

.star-progress .row {
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}

.star-progress h2{
    line-height: 60px;
    font-size: 18px;
    color: #8a9db2;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

.star-progress .star-img {
    width: 37px;
    height: 34px;
    position: relative;
    background: url('../img/star-status.png') left center no-repeat;
}

.star-progress .star-img .update {
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 34px;
    transition: all .5s;
    background: url('../img/star-status-update.png') left center no-repeat;
}

.fields {
    padding: 25px 15px 35px;
}

.fields label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 700;
}

.fields .field {
    margin-bottom: 38px;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    position: relative;
}

.fields .field .thumb-up {
    padding-left: 40px;
}

.fields .field .thumb-up img {
  display: none;
}

.subjects  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.subjects li {
    display: inline-block;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    background-color: #39b54a;
    color: #ffffff;
    border-radius: 12px;
    padding: 0 10px;
    margin-left: 3px;
    margin-bottom: 5px;
}
.subjects li:first-child {
    margin-left: 0;
    margin-top: 25px;
}

.subjects li .close {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-left: 3px;
    vertical-align: text-top;
    background: #5bcb6a url('../img/close-1.png') center center no-repeat;
    cursor: pointer;
}

.fields .thumb-align {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
}

.fields .thumb-align .thumb-up img {
    margin-top: 20px;
}

.interested-List {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.interested-List li {
    height: 40px;
    border-bottom: 1px solid #e3e9ef;
    background: #def1fd; 
    padding: 0 15px;
    font-size: 15px;
    background-image: linear-gradient( 90deg, rgb(222,241,253) 0%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient( 90deg, rgb(222,241,253) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient( 90deg, rgb(222,241,253) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(222,241,253) 0%, rgb(255, 255, 255) 100%);
}
.interested-List li span[class^="pull-"] {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
}

.interested-List li:first-child{
  margin-top: 30px;
}
.interested-List li .pull-first {
    background: #39b54a url('../img/arrow-white.png') center center no-repeat;  
}

.interested-List li .pull-second {
    background: #038fd5 url('../img/arrow-white.png') center center no-repeat;
    transform: rotate(180deg);
}

.interested-List li:last-child .pull-second {
  background: #d4e4ee url('../img/arrow-gray.png') center center no-repeat;
}

.interested-List li:last-child .pull-first {
  background: #39b54a url('../img/arrow-white.png') center center no-repeat;
}

.interested-List li:first-child .pull-first {
  background: #d4e4ee url('../img/arrow-gray.png') center center no-repeat;
}

.interested-List .row {
    justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}

.interested-List li .count {
    padding: 0 25px 0 42px;
}

.interested-List li .close {
    background: #e75656 url('../img/close.png') center center no-repeat;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
}

.interested-List li .text {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.action {
    padding: 0 15px;
}

.btn {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 24px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  border: none;
  font-weight: 700; 
}

.btn-primary {
    background-image: -moz-linear-gradient( -90deg, rgb(85,196,241) 0%, rgb(43,180,236) 47%, rgb(1,164,231) 58%, rgb(4,140,211) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(85,196,241) 0%, rgb(43,180,236) 47%, rgb(1,164,231) 58%, rgb(4,140,211) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(85,196,241) 0%, rgb(43,180,236) 47%, rgb(1,164,231) 58%, rgb(4,140,211) 100%);
}

.auto-search {
  position: relative;
}

.auto-search .auto-search-field {
  position: absolute;
  right: 0;
  top: 36px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  list-style-type: none;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #c3ceda;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 2;
  display: none;
  max-height: 170px;
  overflow-y: auto;
}

.auto-search .auto-search-field li {
  display: block;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
}

.auto-search .auto-search-field li:hover {
  background-color: #e3e9ef;
}

.auto-search .auto-search-field li:first-child {
  margin-top: 15px;
}

.auto-search .auto-search-field li:last-child {
  margin-bottom: 20px;
}

.parents-details{
  margin-bottom: 38px;
}

.parents-details .row label {
  width: calc(8.33333%*4);
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
  line-height: 17px;
  color: rgb(73, 84, 97);
  font-size: 14px;
}

.parents-details h3 {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 700;
}

.parents-details .row {
  margin-bottom: 10px;
  align-items: center;
  -webkit-align-items: center;
}

.parents-details .checkbox-style {
  width: calc(8.33333%*8);
  padding-left: calc(8.33333%*4);
  margin-top: 15px;
}

.parents-details .checkbox-style label {
  color: rgb(1, 164, 231);
  font-size: 14px;
}

.parents-details .row input {
  width: calc(8.33333%*8);
}

.label-text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 28px;
}

#thirdStepRegistration .video-wrap {
  margin: 36px 30px;
}

#thirdStepRegistration .dark-gray {
  background-color: rgb(205, 213, 221);
  /* box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.2); */
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#thirdStepRegistration .star-progress h2 {
  text-transform: initial;
}